@media (max-width: 575.98px) { 
#flecha_der{
	margin-top: -33%;
	margin-left: 92%;
	 position:absolute;
}
#flecha_izq{
	margin-top: -33%;
	margin-left: -.1%;
	 position:absolute;
 }
 #flecha{
 	width: 3vw;
 }
 }

@media (min-width: 576px) and (max-width: 767.98px) {
#flecha_der{
	margin-top: -21%;
	margin-left: 91%;
	 position:absolute;
	 height: 10px;
}
#flecha_izq{
	margin-top: -21%;
	margin-left: -.5%;
	 position:absolute;
 }
 #flecha{
 	width: 15px;
 }
 }
@media (min-width: 768px) and (max-width: 991.98px) {
#flecha_der{
	margin-top: -23%;
	margin-left: 97%;
	 position:absolute;
	 height: 10px;
	 background-color: red;
}
#flecha_izq{
	margin-top: -23%;
	margin-left: 3%;
	 position:absolute;
 }
 #flecha{
 	width: 2vw;
 }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
#flecha_der{
	margin-top: -23%;
	margin-left: 102%;
	 position:absolute;
	 height: 10px;
}
#flecha_izq{
	margin-top: -23%;
	margin-left: -2%;
	 position:absolute;
 }
 #flecha{
 	width: 1.5vw;
 }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
#flecha_der{
	margin-top: -23%;
	margin-left: 103%;
	 position:absolute;
}
#flecha_izq{
	margin-top: -23%;
	margin-left: -3%;
	 position:absolute;
 }
 #flecha{
 	width: 25px;
 }
}