  @font-face
{
   font-family: "tipograf";
   src: url("../fonts/Megan June.otf");
}
p{
   font-family: "tipograf";
   color:white;
}
#alineacion a { 
  display:inline; 
  width: 10%;
}
#ic{
   width: 2%;
}
#texto{
  font-family: "tipograf";
  color: #1C1C1C;

}
#texto1{
  font-family: "tipograf";
  color: #413b3c;
}
#texto2{
  font-family: "tipograf";
  color: #413b3c;
  text-align: center;
}
#myTopnav{
  background-image: url('../icons/TEXTURA.png');
}

.dropdown-content2 {
  top:10px;
  padding-left: 10px;
  display: none;
  position: absolute;
  width: 100%;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}
.topnav {
  overflow: all;
}

.topnav .a {
 
  display: block;
  color: white;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  height: 29px;
}

.topnav .icon {
  display: none;
}

.dropdowns {
  overflow: hidden;
}

.dropdowns .dropbtn {
  font-size: 18px;    
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding-left: 2%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn:hover , .topnav a:hover{
  /*background-color: #FFA95D;*/


}
#texto:hover{
    text-decoration:none; 
  color: #E3E3E3;
}
.dropdown-content a:hover {
  color: black;
  height: auto;
}

.dropdowns:hover .dropdown-content {
  display: block;
}



#logotipo{
    width:110px;
    height: 53px;
    padding-top: 2px;
    margin-top: -10px;
  }
a{
  font-size: 16px;
}
.normal{
 border: none;
  outline: none;
  color: #F47920;
  padding: 12px 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
#menu_icon{
padding-top: 30%;
padding-bottom: 10px;
margin-top: 6px;
}
#txt_oculto{
  font-size: 0px;
    font-family: "tipograf";

}
@media screen and (max-width: 400px) and (min-width: 20px) {
/*logotipo*/
#logotipo{
width: 80px;
height: auto;
margin-top: 10px;
}
/* fin logo*/

/*parte iconos */
#alineacion{
   width: 130%;
  margin-top: 20px;

}
#iconos{
  height: 4vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

.topnav.responsive a {
 float: none;
 display: block;
 text-align: left;
}

.topnav.responsive .dropdown-content {
  position: relative;
}

.topnav.responsive .dropdowns .dropbtn {
  display: block;
  width: 90%;
  text-align: left;
}
#menu_icon{
  padding-top: 10%;
  float: left;
  width: 50%;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:20px;
      padding: 0px;
  }
#texto1{
  padding: 0px;
  font-size: 30px;
}
#texto2{
  padding: 0px;
  font-size: 18px;
  text-align: left;
  margin-left: 12%;
}

#elementos_ocultos{
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 20px;
  color: black;
  padding: 0px;
  margin-top: 0%;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}

}
@media screen and (max-width: 600px) and (min-width: 401px) {
/*logotipo*/
#logotipo{
width: 100px;
height: auto;
margin-top: 5px;
}
/* fin logo*/

/*parte iconos */
#alineacion{
   width: 110%;
  margin-top: 23px;
  float: right;
  margin-right: 10px;

}
#iconos{
  height: 3vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdowns .dropbtn {
    display: block;
    width: 90%;
    text-align: left;
  }
#menu_icon{
padding-top: 10%;
float: left;
width: 42%;
margin-left: 10px;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
  margin-left: 3%;
  font-size:18px;
  padding: 0px;

  }
#texto1{
  margin-left: 3%;
  padding: 0px;
  font-size: 18px;
}
#texto2{
  padding: 0px;
  font-size: 16px;
  text-align: left;
  margin-left: 12%;

}

#elementos_ocultos{
  margin-left: 3%;
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 18px;
  color: black;
  padding: 0px;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}
}
@media screen and (max-width: 701px) and (min-width: 601px) {
/*logotipo*/
#logotipo{
width: 100px;
height: auto;
margin-top: 5px;
}
/* fin logo*/

#alineacion{
   width: 90%;
  margin-top: 23px;
  float: right;
  margin-right: 10px;

}
#iconos{
  height: 2.5vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdowns .dropbtn {
    display: block;
    width: 90%;
    text-align: left;
  }
#menu_icon{
padding-top: 10%;
float: left;
margin-left: 10%;
width: 51%;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:28px;
      padding: 0px;
  }
#texto1{
  padding: 0px;
  font-size: 28px;
}
#texto2{
  padding: 0px;
  font-size: 25px;
  text-align: left;
  margin-left: 10%;
}

#elementos_ocultos{
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 28px;
  color: black;
  padding: 0px;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}
}
/********************************************************************************************************************************************/
@media screen and (max-width: 900px) and (min-width: 701px) {
/*logotipo*/
#logotipo{
width: 110px;
height: auto;
margin-top: 10px;
}
/* fin logo*/


#alineacion{
   width: 70%;
  margin-top: 30px;
  float: right;
  margin-right:15%;

}
#iconos{
  height: 2.5vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdowns .dropbtn {
    display: block;
    width: 90%;
    text-align: left;
  }
#menu_icon{
padding-top: 14%;
float: left;
width: 40%;
margin-left: 22px;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:24px;
      padding: 0px;
  }
#texto1{
  padding: 0px;
  font-size: 24px;
}
#texto2{
  padding: 0px;
  font-size: 24px;
  text-align: left;
  margin-left: 10%;
}

#elementos_ocultos{
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 24px;
  color: black;
  padding: 0px;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}
}
/*********************************************************************************************************************************/
@media screen and (max-width: 940px) and (min-width: 901px) {
/*logotipo*/
#logotipo{
width: 115px;
height: auto;
margin-top: 10px;
}
/* fin logo*/


#alineacion{
   width: 60%;
  margin-top: 30px;
  float: right;
  margin-right:15%;

}
#iconos{
  height: 2vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdowns .dropbtn {
    display: block;
    width: 90%;
    text-align: left;
  }
#menu_icon{
padding-top: 10%;
float: left;
width: 43%;
margin-left: 27px;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:25px;
      padding: 0px;
  }
#texto1{
  padding: 0px;
  font-size: 25px;
}
#texto2{
  padding: 0px;
  font-size: 23px;
  text-align: left;
  margin-left: 8%;
}

#elementos_ocultos{
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 25px;
  color: black;
  padding: 0px;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}

}
/*********************************************************************************************************************/
@media screen and (max-width: 1009px) and (min-width: 941px){

/*logotipo*/
#logotipo{
width: 120px;
height: auto;
margin-top: 10px;
margin-bottom: 10px;
}
/* fin logo*/


#alineacion{
   width: 60%;
  margin-top: 32px;
  float: right;
  margin-right:15%;
}
#iconos{
  height: 2vw;
  width:auto;
}
/* fin parte icono*/

 .topnav a:not(:first-child), .dropdowns .dropbtn {
    display: none;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdowns .dropbtn {
    display: block;
    width: 90%;
    text-align: left;
  }
#menu_icon{
padding-top: 10%;
float: left;
width: 44%;
margin-left: 30px;
}
/*elementos del icono menu*/

.topnav a.icon {
   float: left;
   display: inline-block;
  }
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:25px;
      padding: 0px;

  }
#texto1{
  padding: 0px;
  font-size: 25px;
}
#texto2{
  padding: 0px;
  font-size: 25px;
  text-align: left;
  margin-left: 8%;
}

#elementos_ocultos{
  width: 100%;
  height: auto;
}
#elementos{
  width: 100%;
  height: auto;
}
#txt_oculto{
  font-size: 25px;
  color: black;
  padding: 0px;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}

}
/*********************************************************************************************************************/
@media screen and (max-width: 1299px) and (min-width: 1010px){

/*logotipo*/
#logotipo{
width: 140px;
height: auto;
margin-top: 10px;
}
/* fin logo*/


#alineacion{
   width: 60%;
  margin-top: 38px;
  float: right;
  margin-right:15%;
}
#iconos{
  height: 2vw;
  width:auto;
}
/* fin parte icono*/

/*elementos del icono menu*/

.topnav a.icon {
    float: right;
    display: block;
  }
 .dropdown3 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #E0E0E0;
  margin-top: 75px;
  min-width: 300%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
ul{
   list-style:none;
}
.dropdown-content2  li a  {
  color: black;
  padding: 11px 11px;
  display: inline-block;
}

.dropdown-content2 li a:hover {
color:#1b1b1b;
background-color: #E0E0E0;
text-decoration: underline #1b1b1b;
}

.dropdown3:hover .dropdown-content2 {
  display: block;
}
#flechita{
  width: 10px;
  height: auto;
} 
#texto{
      font-size:2vw;
  }
#texto1{
  font-size: 1.5vw;
}
#texto2{
  font-size: 1.5vw;
}

#elementos_ocultos{
  width: 1%;
  height: auto;
}
#elementos{
  width: 16.333333333%;
  height: auto;
}
#menu_icon{
  width:60%;
  margin-left: 35%;
  height: auto;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}
}
/*********************************************************************************************************************/
@media screen and (max-width: 8000px) and (min-width: 1300px){
/*logotipo*/
#logotipo{
width: 160px;
height: auto;
margin-top: 10px;
}
/* fin logo*/

#alineacion{
   width: 40%;
  margin-top: 38px;
  float: right;
  margin-right:10%;
}
#iconos{
  height: 1.5vw;
  width:auto;
}
/* fin parte icono*/

/*elementos del icono menu*/
#texto{
      font-size: 25px;
      color: #1C1C1C;
  }
.topnav a.icon {
    float: right;
    display: block;
  }
 .dropdown3 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #E0E0E0;
  margin-top: 75px;
  min-width: 300%;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
ul{
   list-style:none;
}
.dropdown-content2  li a  {
  color: black;
  padding: 5px 5px;
  display: inline-block;
}

.dropdown-content2 li a:hover {
color:#1b1b1b;
background-color: #E0E0E0;
text-decoration: underline #1b1b1b;
}



.dropdown3:hover .dropdown-content2 {
  display: block;
}
#flechita{
  width: 7px;
  height: auto;
} 
#texto1{
  font-size: 22px;
}
#texto2{
  font-size: 18px;
}
#elementos_ocultos{
  width: 1%;
  height: auto;
}
#elementos{
  width: 16.333333333%;
  height: auto;
}
#menu_icon{
  width:70%;
  margin-left: 35%;
  height: auto;
}
#texto2:hover {
color:#1b1b1b;
text-decoration: underline #1b1b1b;
}
}
.dropdown-content{
  background: white;
}